button {
    color: white;
    background-color: #007bff;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border: none;
    transition: background-color 0.2s ease;
    font-size: 1rem;


}

.btn-active {
    background-color: #ffc107;
    color: black;
}